<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  failOnRisky="true"
  stopOnError="true"
  stopOnFailure="true"
  stopOnIncomplete="true"
  verbose="true"
>
  <testsuites>
    <testsuite name="Lorem Ipsum">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory>./src</directory>
    </whitelist>
  </filter>
</phpunit>
